# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Output File (CSV)
weather_output= pd.read_csv("../WeatherPy/output_data/city_weather.csv")
weather_output

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Flinders,-34.5833,150.8552,65.21,87,23,4.00,AU,1644956338
1,Sept-Îles,50.2001,-66.3821,8.06,55,75,19.57,CA,1644956338
2,Albany,42.6001,-73.9662,28.81,49,100,3.00,US,1644956338
3,Ekibastuz,51.6667,75.3667,0.05,92,75,14.81,KZ,1644956339
4,Malbork,54.0359,19.0266,45.12,80,100,9.10,PL,1644956339
...,...,...,...,...,...,...,...,...,...
548,Usinsk,65.9939,57.5281,19.27,95,100,15.88,RU,1644956549
549,Guarapari,-20.6667,-40.4975,76.89,90,100,5.68,BR,1644956454
550,Tūkrah,32.5341,20.5791,56.30,62,87,6.40,LY,1644956549
551,Kaniama,-7.5667,24.1833,65.41,95,94,3.09,CD,1644956550
552,Yoichi,43.2039,140.7703,23.04,89,100,13.44,JP,1644956550

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Configure gmaps
gmaps.configure(g_key)
#Use the Lat and Lng as locations
locations=weather_output[["Lat", "Lng"]]
#Use Humidity as the weight
humidity=weather_output["Humidity"]

In [4]:
#plot Heatmap
heatmap = gmaps.figure(center=(20, 10), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
heatmap.add_layer(heat_layer)

# Display figure
heatmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_weather=weather_output.loc[(weather_output["Wind Speed"]<=10) & (weather_output["Cloudiness"] == 0) 
                                 & (weather_output["Max Temp"] >= 70) & (weather_output["Max Temp"]<= 80)].dropna()

ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
34,Kapaa,22.0752,-159.3190,76.19,71,0,9.22,US,1644956349
72,Cidreira,-30.1811,-50.2056,75.85,61,0,9.51,BR,1644956365
249,Gao,16.6362,1.6370,77.99,10,0,5.32,ML,1644956434
261,Kidal,18.4411,1.4078,76.14,11,0,8.23,ML,1644956439
271,Gwadar,25.1216,62.3254,70.97,57,0,9.35,PK,1644956443
401,Dakar,14.6937,-17.4441,77.88,68,0,6.91,SN,1644956464
407,Dubai,25.2582,55.3047,74.21,68,0,5.75,AE,1644956042
522,Sur,22.5667,59.5289,70.65,64,0,6.29,OM,1644956538

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#Store into variable named hotel_df

hotel_df=ideal_weather
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#Set parameters to search for hotels with 5000 meters.
params = {"type" : "lodging",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [7]:
#Hit the Google Places API for each city's coordinates.

for index, row in hotel_df.iterrows():
    lat=row["Lat"]
    lng=row["Lng"]
    city_name=row["City"]
    
    params["location"]=f"{lat},{lng}"
    
    #make API request for hotel information and extract results
    print(f"Results for index {index}: {city_name}." )
    response=requests.get(base_url, params=params).json()
    results=response["results"]
    
    #print closest hotel and save the hotel name to Hotel Name column in dataframe
    try:
        print(f"The closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"]=results[0]['name']
        
    
    #if there is no hotel close by, print missing field statment
    except (KeyError, IndexError):
        print("Sorry, result cannot be found... Moving to next City.")
    
    print("--------------------------------------------------")
    
    time.sleep(1)
    
print("-------------------End of Search----------------------")

Results for index 34: Kapaa.
The closest hotel in Kapaa is Kauai Shores Hotel.
--------------------------------------------------
Results for index 72: Cidreira.
The closest hotel in Cidreira is Hotel Castelo.
--------------------------------------------------
Results for index 249: Gao.
Sorry, result cannot be found... Moving to next City.
--------------------------------------------------
Results for index 261: Kidal.
Sorry, result cannot be found... Moving to next City.
--------------------------------------------------
Results for index 271: Gwadar.
The closest hotel in Gwadar is Zaver Pearl Continental Hotel.
--------------------------------------------------
Results for index 401: Dakar.
The closest hotel in Dakar is Radisson Blu Hotel, Dakar Sea Plaza.
--------------------------------------------------
Results for index 407: Dubai.
The closest hotel in Dubai is Royal Ascot Hotel.
--------------------------------------------------
Results for index 522: Sur.
The closest hotel in Sur is Sur Plaza Hotel.
--------------------------------------------------
-------------------End of Search----------------------

In [8]:
hotel_df= hotel_df.dropna()
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
34,Kapaa,22.0752,-159.3190,76.19,71,0,9.22,US,1644956349,Kauai Shores Hotel
72,Cidreira,-30.1811,-50.2056,75.85,61,0,9.51,BR,1644956365,Hotel Castelo
271,Gwadar,25.1216,62.3254,70.97,57,0,9.35,PK,1644956443,Zaver Pearl Continental Hotel
401,Dakar,14.6937,-17.4441,77.88,68,0,6.91,SN,1644956464,"Radisson Blu Hotel, Dakar Sea Plaza"
407,Dubai,25.2582,55.3047,74.21,68,0,5.75,AE,1644956042,Royal Ascot Hotel
522,Sur,22.5667,59.5289,70.65,64,0,6.29,OM,1644956538,Sur Plaza Hotel

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
markers=gmaps.marker_layer(locations, info_box_content=hotel_info)
heatmap.add_layer(markers)
# Display figure
heatmap

Figure(layout=FigureLayout(height='420px'))